# ANÁLISIS INICIAL DE FICHEROS Y PREPARACIÓN DEL CASO

Usaremos datos reales ofrecidos por AirBnB en esta página: http://insideairbnb.com/get-the-data.html

Concretamente usaremos la ciudad de Valencia, con datos recogidos a fecha Septiembre 2023

Haremos modificaciones en los datos  para:

* Quedarnos sólo con las tablas que nos vayan a resultar útiles
* Cargar toda la info a una base de datos

## SETUP

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#Automcompletar rápido
%config IPCompleter.greedy=True

## ENTENDER LOS FICHEROS

### Cargamos y entendemos listings agregados

In [2]:
listings = pd.read_csv('../Datos/listings.csv')

In [3]:
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,48154,Rental unit in Valencia · ★4.56 · 2 bedrooms ·...,219476,Toni,LA SAIDIA,MORVEDRE,39.48375,-0.37502,Entire home/apt,89,4,137,2023-08-31,0.87,4,52,9,VT-41540-V
1,55692,Rental unit in Valencia · 1 bedroom · 1 bed,120649,Pilar,CIUTAT VELLA,LA SEU,39.47658,-0.37654,Entire home/apt,100,1,1,2014-11-11,0.01,1,0,0,NaN
2,100347,Rental unit in València · ★4.58 · 3 bedrooms ·...,1451371,Santiago,EXTRAMURS,ARRANCAPINS,39.45965,-0.38453,Entire home/apt,171,3,142,2023-09-01,2.02,1,0,7,NaN
3,102524,Villa in Valencia · ★4.56 · 5 bedrooms · 20 be...,535881,Vicente,POBLATS MARITIMS,LA MALVA-ROSA,39.48197,-0.32456,Entire home/apt,532,2,197,2023-08-13,1.36,7,87,30,VT-36438-V
4,136378,Condo in Valencia · ★4.46 · 1 bedroom · 2 beds...,591197,Elisa,CIUTAT VELLA,EL MERCAT,39.47358,-0.37815,Entire home/apt,75,28,25,2023-06-30,0.17,3,6,2,VT-42161-V

In [16]:
listings.loc[listings.neighbourhood_group == 'POBLATS MARITIMS',:].sort_values('price',ascending = False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
3104,45140076,Rental unit in València · ★4.0 · 1 bedroom · 2...,3204897,Jennifer,POBLATS MARITIMS,EL GRAU,39.460640,-0.332730,Private room,3339,6,3,2023-06-15,0.15,7,181,2,NaN
3986,54207880,Rental unit in València · ★4.81 · 1 bedroom · ...,3204897,Jennifer,POBLATS MARITIMS,EL GRAU,39.460780,-0.332990,Private room,2430,6,16,2023-08-13,0.81,7,0,14,NaN
3103,45139930,Rental unit in València · ★4.71 · 1 bedroom · ...,3204897,Jennifer,POBLATS MARITIMS,EL GRAU,39.459020,-0.334820,Private room,1933,7,14,2023-07-23,0.40,7,137,8,NaN
6813,883831559419608458,Boat in València · 3 bedrooms · 3 beds · 1 bath,474510409,Jorge,POBLATS MARITIMS,EL GRAU,39.428411,-0.333076,Entire home/apt,1200,1,0,NaN,NaN,1,364,0,NaN
4980,667901916228622020,Villa in València · ★4.38 · 5 bedrooms · 19 be...,422700739,Douglas,POBLATS MARITIMS,CABANYAL-CANYAMELAR,39.471210,-0.326050,Entire home/apt,929,1,13,2023-05-02,1.01,3,341,11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5130,674438861825345758,Rental unit in València · 1 bedroom · 1 bed · ...,49191131,Jens,POBLATS MARITIMS,LA MALVA-ROSA,39.480520,-0.329540,Private room,17,60,0,NaN,NaN,2,144,0,NaN
1184,19547850,Rental unit in València · ★4.57 · 1 bedroom · ...,64759204,Maria,POBLATS MARITIMS,CABANYAL-CANYAMELAR,39.463580,-0.329630,Private room,15,30,8,2022-12-18,0.13,3,265,1,NaN
626,13629689,Rental unit in València · ★4.50 · 1 bedroom · ...,64759204,Maria,POBLATS MARITIMS,CABANYAL-CANYAMELAR,39.465830,-0.330760,Private room,14,30,4,2022-09-05,0.15,3,228,0,NaN
594,12083096,Rental unit in València · ★4.29 · 1 bedroom · ...,64759204,Maria,POBLATS MARITIMS,CABANYAL-CANYAMELAR,39.465490,-0.329460,Private room,13,16,7,2022-08-24,0.10,3,238,0,NaN
4950,660101685226056533,Rental unit in València · ★5.0 · 1 bedroom · 1...,26754605,Katia,POBLATS MARITIMS,LA MALVA-ROSA,39.481590,-0.327940,Private room,11,1,12,2022-09-30,0.83,1,0,9,NaN

In [4]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8627 entries, 0 to 8626
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              8627 non-null   int64
 1   name                            8627 non-null   object
 2   host_id                         8627 non-null   int64
 3   host_name                       8627 non-null   object
 4   neighbourhood_group             8627 non-null   object
 5   neighbourhood                   8627 non-null   object
 6   latitude                        8627 non-null   float64
 7   longitude                       8627 non-null   float64
 8   room_type                       8627 non-null   object
 9   price                           8627 non-null   int64
 10  minimum_nights                  8627 non-null   int64
 11  number_of_reviews               8627 non-null   int64
 12  last_review                     7540 non-null   object
 13  reviews_per_month               7540 non-null   float64
 14  calculated_host_listings_count  8627 non-null   int64
 15  availability_365                8627 non-null   int64
 16  number_of_reviews_ltm           8627 non-null   int64
 17  license                         1968 non-null   object
dtypes: float64(3), int64(8), object(7)
memory usage: 1.2+ MB

### Cargamos y entendemos listings detalle

In [5]:
listings_det = pd.read_csv('../Datos/listings.csv.gz',compression='gzip')

In [6]:
 listings_det.head(3)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,48154,https://www.airbnb.com/rooms/48154,20230916061030,2023-09-16,city scrape,Rental unit in Valencia · ★4.56 · 2 bedrooms ·...,Segundo piso en una finca de finales del siglo...,Barrio muy cercano al casco histórico de la ci...,https://a0.muscache.com/pictures/1109085/9c0d4...,219476,...,4.74,4.43,4.49,VT-41540-V,f,4,4,0,0,0.87
1,55692,https://www.airbnb.com/rooms/55692,20230916061030,2023-09-16,previous scrape,Rental unit in Valencia · 1 bedroom · 1 bed,A great place to stay and visit Valencia.<br /...,NaN,https://a0.muscache.com/pictures/329316/a5d6a7...,120649,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.01
2,100347,https://www.airbnb.com/rooms/100347,20230916061030,2023-09-16,previous scrape,Rental unit in València · ★4.58 · 3 bedrooms ·...,Te va a encantar mi espacio por la ubicación y...,"Barrio de Jesús, cercano al centro, zona conso...",https://a0.muscache.com/pictures/b0bb18e8-1f24...,1451371,...,4.88,4.79,4.61,NaN,f,1,1,0,0,2.02

In [7]:
listings_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8627 entries, 0 to 8626
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            8627 non-null   int64
 1   listing_url                                   8627 non-null   object
 2   scrape_id                                     8627 non-null   int64
 3   last_scraped                                  8627 non-null   object
 4   source                                        8627 non-null   object
 5   name                                          8627 non-null   object
 6   description                                   8463 non-null   object
 7   neighborhood_overview                         4538 non-null   object
 8   picture_url                                   8627 non-null   object
 9   host_id                                       8627 non-null   int64
 10  host_url                                      8627 non-null   object
 11  host_name                                     8627 non-null   object
 12  host_since                                    8627 non-null   object
 13  host_location                                 6362 non-null   object
 14  host_about                                    4372 non-null   object
 15  host_response_time                            7796 non-null   object
 16  host_response_rate                            7796 non-null   object
 17  host_acceptance_rate                          8194 non-null   object
 18  host_is_superhost                             8450 non-null   object
 19  host_thumbnail_url                            8627 non-null   object
 20  host_picture_url                              8627 non-null   object
 21  host_neighbourhood                            2684 non-null   object
 22  host_listings_count                           8627 non-null   int64
 23  host_total_listings_count                     8627 non-null   int64
 24  host_verifications                            8627 non-null   object
 25  host_has_profile_pic                          8627 non-null   object
 26  host_identity_verified                        8627 non-null   object
 27  neighbourhood                                 4538 non-null   object
 28  neighbourhood_cleansed                        8627 non-null   object
 29  neighbourhood_group_cleansed                  8627 non-null   object
 30  latitude                                      8627 non-null   float64
 31  longitude                                     8627 non-null   float64
 32  property_type                                 8627 non-null   object
 33  room_type                                     8627 non-null   object
 34  accommodates                                  8627 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                8621 non-null   object
 37  bedrooms                                      5707 non-null   float64
 38  beds                                          8585 non-null   float64
 39  amenities                                     8627 non-null   object
 40  price                                         8627 non-null   object
 41  minimum_nights                                8627 non-null   int64
 42  maximum_nights                                8627 non-null   int64
 43  minimum_minimum_nights                        8627 non-null   int64
 44  maximum_minimum_nights                        8627 non-null   int64
 45  minimum_maximum_nights                        8627 non-null   int64
 46  maximum_maximum_nights                        8627 non-null   int64
 47  minimum_nights_avg_ntm                        8627 non-null   float64
 48  maximum_nights_avg_ntm                        8627 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              8627 non-null   object
 51  availability_30                               8627 non-null   int64
 52  availability_60                               8627 non-null   int64
 53  availability_90                               8627 non-null   int64
 54  availability_365                              8627 non-null   int64
 55  calendar_last_scraped                         8627 non-null   object
 56  number_of_reviews                             8627 non-null   int64
 57  number_of_reviews_ltm                         8627 non-null   int64
 58  number_of_reviews_l30d                        8627 non-null   int64
 59  first_review                                  7540 non-null   object
 60  last_review                                   7540 non-null   object
 61  review_scores_rating                          7540 non-null   float64
 62  review_scores_accuracy                        7530 non-null   float64
 63  review_scores_cleanliness                     7529 non-null   float64
 64  review_scores_checkin                         7530 non-null   float64
 65  review_scores_communication                   7530 non-null   float64
 66  review_scores_location                        7530 non-null   float64
 67  review_scores_value                           7530 non-null   float64
 68  license                                       1968 non-null   object
 69  instant_bookable                              8627 non-null   object
 70  calculated_host_listings_count                8627 non-null   int64
 71  calculated_host_listings_count_entire_homes   8627 non-null   int64
 72  calculated_host_listings_count_private_rooms  8627 non-null   int64
 73  calculated_host_listings_count_shared_rooms   8627 non-null   int64
 74  reviews_per_month                             7540 non-null   float64
dtypes: float64(16), int64(23), object(36)
memory usage: 4.9+ MB

Conclusiones: 

* Son los mismos registros pero el fichero de detalle tiene más columnas.
* Podríamos unirlas mediante el campo id

### Cargamos y entendemos reviews agregado

In [8]:
reviews = pd.read_csv('../Datos/reviews.csv')

In [9]:
reviews.head()

   listing_id        date
0       48154  2010-10-12
1      193326  2011-10-24
2       48154  2010-11-28
3      193326  2011-11-03
4      193326  2011-11-08

In [10]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370675 entries, 0 to 370674
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  370675 non-null  int64
 1   date        370675 non-null  object
dtypes: int64(1), object(1)
memory usage: 5.7+ MB

### Cargamos y entendemos reviews detalle

In [10]:
reviews_det = pd.read_csv('../Datos/reviews.csv.gz',compression = 'gzip')

In [11]:
reviews_det.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,48154,117554,2010-10-12,180238,Martha,Toni's place was perfect in so many ways. It ...
1,48154,145645,2010-11-28,204240,Mark,Awesome stay!! We'd recommend Toni's apartment...
2,48154,190572,2011-03-01,258565,Domenico,really nice house in a wonderfull position! yo...
3,48154,195081,2011-03-08,213496,Romina & Martín,"Apartamento muy agradable, al igual que su pro..."
4,48154,218435,2011-04-05,340330,Jenna,"Was a great apartment, easy access to the site..."

In [12]:
reviews_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370675 entries, 0 to 370674
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     370675 non-null  int64
 1   id             370675 non-null  int64
 2   date           370675 non-null  object
 3   reviewer_id    370675 non-null  int64
 4   reviewer_name  370675 non-null  object
 5   comments       370656 non-null  object
dtypes: int64(3), object(3)
memory usage: 17.0+ MB

Conclusiones: 

* Son los mismos registros pero el fichero de detalle tiene más columnas.
* Realmente esta info de las reseñas no nos aporta nada a nuestro objetivo, así que no usaremos estas tablas

### Cargamos y entendemos calendar

In [13]:
calendar = pd.read_csv('../Datos/calendar.csv.gz',compression = 'gzip')

In [19]:
calendar.date.value_counts(ascending = True)

date
2023-09-16    8627
2024-05-20    8627
2024-05-19    8627
2024-05-18    8627
2024-05-17    8627
              ...
2024-01-11    8627
2024-01-10    8627
2024-01-09    8627
2024-01-07    8627
2024-09-14    8627
Name: count, Length: 365, dtype: int64

In [20]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3148855 entries, 0 to 3148854
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: int64(3), object(4)
memory usage: 168.2+ MB

Conclusiones:

* Esta tabla se proyecta hacia el futuro, y parece contener la disponibilidad de reservas
* No es información que nos sirva a nuestros fines y por tanto no la usaremos

### Cargamos y entendemos neighbourhoods.csv

In [21]:
neigh = pd.read_csv('../Datos/neighbourhoods.csv')

In [22]:
neigh.head(5)

  neighbourhood_group   neighbourhood
0             ALGIROS    CIUTAT JARDI
1             ALGIROS     LA CARRASCA
2             ALGIROS       L'AMISTAT
3             ALGIROS   LA VEGA BAIXA
4             ALGIROS  L'ILLA PERDUDA

Conclusiones:

* Es simplemente un maestro de vecindario y grupo de vecindario
* En principio no la usaremos, ya que tanto el vecindario como su grupo ya están incorporados en otras tablas

### Cargamos y entendemos neighbourhoods.geojson

In [23]:
neigh_geo = pd.read_json('../Datos/neighbourhoods.geojson')

In [24]:
neigh_geo.head(5)

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...

In [25]:
neigh_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      88 non-null     object
 1   features  88 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

Conclusiones:

* Parece info de geometría para mapas veremos otra opción mucho más sencilla, así que no la usaremos

### Conclusiones del análisis de ficheros

* Tablas principales que usaremos:
    * listings.csv
    * listings.csv.gz

## CREACIÓN DE UNA BASE DE DATOS

Vamos a meter las tablas seleccionadas en una base de datos

Usaremos la que es posiblemente la base de datos más sencilla: sqlite, ya que es auto-contenida, sin servidor y sin configuración

Para crear una base de datos con sqlite  tenemos que:

1. Crear una conexión como ya sabemos
2. Guardar los datos con to_sql, y si la tabla de destino no existe todavía la creará

Nota: si la tabla ya existiera y lo que queremos hacer es reemplazarla hay que usar el parámetro if_exists = 'replace'

Creamos la conexión:

In [26]:
import sqlalchemy as sa

con = sa.create_engine('sqlite:///../Datos/airbnb.db')

Creamos las tablas y cargamos los datos

In [27]:
listings.to_sql('listings', con = con, if_exists = 'replace')
listings_det.to_sql('listings_det', con = con, if_exists = 'replace')

8627